  .search-box {
    font-size: 20px;
    border: solid 0.1em #000000;
    display: inline-block;
    position: relative;
    border-radius: 2.5em;
  }

  .filter__input {
    font-family: inherit;
    font-weight: bold;
    width: 2.5em;
    height: 2.5em;
    padding: 0.3em 2.1em 0.3em 0.4em;
    border: none;
    box-sizing: border-box;
    border-radius: 2.5em;
    transition: width 800ms cubic-bezier(0.68, -0.55, 0.27, 1.55) 150ms;
  }

  .filter__input:focus {
    outline: none;
    width: 18em;
    transition: width 800ms cubic-bezier(0.68, -0.55, 0.27, 1.55);
  }

  .filter__input:focus+.search__button {
    transform: rotate(-45deg) translateY(0);
    transition: transform 150ms ease-out 800ms;
  }

  .filter__input:focus+.search__button:after {
    opacity: 1;
    transition: top 150ms ease-out 950ms, right 150ms ease-out 950ms, opacity 150ms ease 950ms;
  }

  .search__button {
    cursor: pointer;
    background-color: transparent;
    width: 1.6em;
    height: 1.4em;
    border: 0;
    padding: 0;
    outline: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0.4em;
    right: 0.4em;
    transform: rotate(-45deg) translateY(2.25em);
    transition: transform 150ms ease-out 150ms;
  }

  .search__button:before,
  .search__button:after {
    content: "";
    background-color: #000000;
    width: 0.3em;
    height: 1.4em;
    position: absolute;
  }

  .search__button:after {
    transform: rotate(90deg);
    opacity: 0;
    transition: transform 150ms ease-out, opacity 150ms ease-out;
  }